<mat-toolbar class="toolbar" color="primary">
  <span>CloudArch</span>
  <span class="spacer"></span>
  <div *ngIf="showButtons">
    <button *ngIf="this.user?.type === 'admin'" mat-button (click)="goTo('employees')">
      Empleados
    </button>
    <button *ngIf="this.user" mat-button (click)="goTo('home')">
      Documentos
    </button>
    <button *ngIf="this.user" mat-button [matMenuTriggerFor]="menu">
      {{user.username}}
    </button>
    <mat-menu #menu='matMenu'>
      <button mat-menu-item (click)="showUserInfo()">
        <mat-icon>account_box</mat-icon>
        <span>Ver información</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
