<div class="container">
  <div>
    <h2>Archivos compartidos</h2>
    <div class="documents-container" *ngFor="let file of files">
      <button class="document-button" mat-button  [matMenuTriggerFor]="fileOptionsMenu" [matMenuTriggerData]="{file: file}">
        <mat-icon>insert_drive_file</mat-icon>
        {{ file.name }}
      </button>
      <mat-menu #fileOptionsMenu="matMenu">
        <ng-template matMenuContent let-file="file">
          <button mat-menu-item (click)="showFile(file.name)">Abrir Archivo</button>
          <button mat-menu-item>Eliminar Archivo</button>
        </ng-template>
      </mat-menu>
    </div>
  </div>
</div>
