<section class="mat-elevation-z3 table-container">
  <table mat-table [dataSource]="this.dataSource">

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Usuario</th>
      <td mat-cell *matCellDef="let element">{{element.username}}</td>
    </ng-container>

    <ng-container matColumnDef="employeeName">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{element.employeeName}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let element">{{element.type}}</td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Actualizar" color="basic" (click)="updateUser(element, updateTemplate)"><mat-icon>create</mat-icon></button>
        <button mat-icon-button matTooltip="Eliminar" color="warn" (click)="delete(element)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

<ng-template #updateTemplate let-data>
  <div class="dialog-container">
    <form class="form-container" [formGroup]="updateForm" (ngSubmit)="updateUserForm(data)">
      <h2>Actualizar {{data.username}}</h2>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Nombre del empleado</mat-label>
        <input formControlName="employeeName" matInput type="text" placeholder="Ingrese el nombre del empleado">
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" matInput [type]="hide? 'password' : 'text'" placeholder="Ingrese la contraseña">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide;">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-checkbox formControlName="isAdmin" style="margin-bottom: 15px;">Administrador</mat-checkbox>
      <div>
        <button type="button" mat-flat-button style="margin-right: 5px;" mat-dialog-close>Cancelar</button>
        <button type="submit" mat-flat-button color="primary">Actualizar</button>
      </div>
    </form>
  </div>
</ng-template>
