<div class="container">
  <div class="option-container">
    <button (click)="goBack()" mat-button *ngIf="this.previousPath !== ''">
      <mat-icon>keyboard_backspace</mat-icon>
      volver
    </button>
    <button mat-button [matMenuTriggerFor]="createMenu">
      <mat-icon>add</mat-icon>
      Crear
    </button>
    <mat-menu #createMenu="matMenu">
      <button mat-menu-item (click)="createNewDirectory(createDirectoryTemplate)">
        <mat-icon>create_new_folder</mat-icon>
        <span>Crear Carpeta</span>
      </button>
      <button mat-menu-item (click)="showFile()">
        <mat-icon>note_add</mat-icon>
        <span>Crear Documento</span>
      </button>
    </mat-menu>
  </div>

  <div *ngIf="directories.length === 0 && files.length === 0; else documentsTemplate">
    <h2 style="margin: 30px;">Ups! parece que este directorio está vacío!</h2>
  </div>
</div>


<!--TEMPLATES-->

<ng-template #documentsTemplate>
  <div *ngIf="directories.length > 0">
    <h2>Directorios</h2>
    <div class="documents-container" *ngFor="let directory of directories">
      <button class="document-button" mat-button (click)="goTo(directory)"
              (contextmenu)="showOptionsTemplate($event, directoryOptionsTemplate, directory)">
        <mat-icon class="mat-icon-class">folder</mat-icon>
        <span style="margin-left: 5px">{{ directory.name }}</span>
      </button>
    </div>
  </div>
  <div *ngIf="files.length > 0">
    <h2>Archivos</h2>
    <div class="documents-container" *ngFor="let file of files">
      <button class="document-button" mat-button (click)="showFile(file.name)"
              (contextmenu)="showOptionsTemplate($event, fileOptionsTemplate, file)">
        <mat-icon class="mat-icon-class">insert_drive_file</mat-icon>
        <span style="margin-left: 5px">{{ file.name }}</span>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #createDirectoryTemplate>
  <div class="form-container container">
    <h2>Crear Directorio</h2>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nombre del directorio</mat-label>
      <input [formControl]="createDirectoryControl" matInput placeholder="Ingrese el nombre del directorio">
      <mat-error *ngIf="createDirectoryControl.invalid">El nombre del directorio es obligatorio</mat-error>
    </mat-form-field>
    <div>
      <button (click)="createDirectory()" [disabled]="createDirectoryControl.invalid" mat-flat-button color="primary">Crear</button>
      <button mat-flat-button color="warn" type="button" mat-dialog-close style="margin-left: 10px;">Cancelar</button>
    </div>
  </div>
</ng-template>

<ng-template #sharedFileTemplate let-data>
  <div class="form-container container">
    <h2>Compartir: {{data.name}}</h2>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nombre del usuario</mat-label>
      <input [formControl]="shareFileControl" matInput placeholder="Ingrese el usuario a compartir">
      <mat-error *ngIf="shareFileControl.invalid">El nombre del usuario es obligatorio</mat-error>
    </mat-form-field>
    <div>
      <button (click)="shareFile(data)" [disabled]="shareFileControl.invalid" mat-flat-button color="primary">Compartir</button>
      <button mat-flat-button color="warn" type="button" mat-dialog-close style="margin-left: 10px;">Cancelar</button>
    </div>
  </div>
</ng-template>

<ng-template #directoryOptionsTemplate let-data>
  <mat-nav-list>
    <a mat-list-item (click)="deleteDirectory(data)">
      <span matListItemTitle>Eliminar Directorio</span>
      <span matLine>Elimine el directorio y todo su contenido.</span>
    </a>
    <a mat-list-item (click)="openCopyDirectoryDialog(data)">
      <span matListItemTitle>Copiar Directorio</span>
      <span matLine>Copia el directorio y todo su contenido a otro directorio.</span>
    </a>
    <a mat-list-item (click)="openMoveDirectoryDialog(data)">
      <span matListItemTitle>Mover Directorio</span>
      <span matLine>Cambie la ruta del directorio.</span>
    </a>
  </mat-nav-list>
</ng-template>

<ng-template #fileOptionsTemplate let-data>
  <mat-nav-list>
    <a mat-list-item (click)="deleteFile(data)">
      <span matListItemTitle>Eliminar Archivo</span>
      <span matLine>Elimine el archivo.</span>
    </a>
    <a mat-list-item (click)="openCopyFileDialog(data)">
      <span matListItemTitle>Copiar Archivo</span>
      <span matLine>Copie el archivo a otro directorio.</span>
    </a>
    <a mat-list-item (click)="openMoveFileDialog(data)">
      <span matListItemTitle>Mover Archivo</span>
      <span matLine>Cambie la ruta del archivo.</span>
    </a>
    <a mat-list-item (click)="showSharedTemplate(sharedFileTemplate, data)">
      <span matListItemTitle>Compartir Archivo</span>
      <span matLine>Comparta archivos con sus compañeros.</span>
    </a>
  </mat-nav-list>
</ng-template>
