/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.spacer {
  flex: 1 1 auto;
}

.container {
  margin: 25px 20px;
}

.button-element {
  width: 20rem;
  margin-top: 15px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-field {
  width: 35vh;
  margin: 5px 0;
}
