<div class="dialog-container">
  <form class="form-container" [formGroup]="updateForm" (ngSubmit)="updateUser()">
    <h2>Actualizar {{data.username}}</h2>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Nombre del empleado</mat-label>
      <input formControlName="employeeName" matInput type="text" placeholder="Ingrese el nombre del empleado">
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input formControlName="password" matInput [type]="hide? 'password' : 'text'" placeholder="Ingrese la contraseña">
      <button mat-icon-button matSuffix type="button" (click)="hide = !hide;">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-checkbox formControlName="isAdmin" style="margin-bottom: 15px;">Administrador</mat-checkbox>
    <div>
      <button type="button" mat-flat-button style="margin-right: 5px;" mat-dialog-close>Cancelar</button>
      <button type="submit" mat-flat-button color="primary">Actualizar</button>
    </div>
  </form>
</div>
