.dialog-container {
  margin: 25px 0;
  width: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-field {
  width: 35vh;
  margin: 5px 0;
}
