.auth-container {
  position: absolute;
  top: 20vh;
  left: 70vh;
  width: 65vh;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

h1 {
  font-size: 2rem;
}

.auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 45px 0;
}

.form-element {
  width: 25rem;
  margin: 10px 0 0;
}

.button-element {
  width: 20rem;
}
