.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.auth-title {
  font-size: 2rem;
}

.auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 45px 0;
  padding: 3rem 5rem;
}

.form-element {
  width: 25rem;
  margin: 10px 0 0;
}
